/*

Sandstone #F4CC70
Burnt Orange #DE7A22 rgb(222,122,34)
Sea #20948B rgb(32,148,139)
Lagoon #6AB187 rgb(106, 177, 135)
 */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.fh-tint {
    margin-top: 30vh;
    position: relative;
    float: right;
    cursor: pointer;
    margin-right: 50px;
}

@media only screen and (max-width: 768px) {
    .fh-tint {
        margin: 50px auto;
        float: none;
        width: 200px;
    }
}

.fh-tint.fh-orange:before {
    background: rgba(222, 122, 34, 0.5);
}

.fh-tint.fh-blue:before {
    background: rgba(32, 148, 139, 0.5);
}

.fh-tint.fh-red:before {
    background: rgba(106, 177, 135, 0.5);
}

.fh-tint:before {
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}

.fh-tint:hover:before {
    background: none;
}

.fh-tint .fh-profile-image {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

@media only screen and (max-width: 768px) {
    .fh-tint .fh-profile-image {
        width: 200px;
        height: 200px;
    }
}

.fh-description {
    margin-top: 30vh;
    color: #2f2f2f;
    margin-left: 50px;
    height: 300px;
}

@media only screen and (max-width: 768px) {
    .fh-description {
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 50px;
    }
}

.fh-description .fh-name {
    font-size: 4em;
}

.fh-description .fh-skill {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5em;
}

.fh-description .fh-skill.fh-orange {
    color: #DE7A22;
}

.fh-description .fh-skill.fh-blue {
    color: #789364;
}

.fh-description .fh-skill.fh-red {
    color: #6AB187;
}

.fh-social-links {
    margin-top: 50px;
    text-align: center;
    font-size: 2em;
    position: absolute;
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .fh-social-links {
        bottom: 20px;
    }
}

.fh-social-links a.fh-orange {
    color: #DE7A22;
}

.fh-social-links a.fh-blue {
    color: #20948B;
}

.fh-social-links a.fh-red {
    color: #6AB187;
}

.fh-social-links a:hover {
    color: #474747;
    text-decoration: none;
}

.fh-social-links a i {
    margin-right: 15px;
}


/* block-$ */
.block-effect {
    font-size: 1em;
}

.block-reveal {
    --t: calc(var(--td) + var(--d));
    color: transparent;
    padding: 4px;
    position: relative;
    overflow: hidden;
    animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
    content: '';
    width: 0%;
    height: 100%;
    padding-bottom: 4px;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bc);
    animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}


/* animations */
@keyframes revealBlock {
    100% {
        color: #0f0f0f;
    }
}

@keyframes revealingIn {

    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes revealingOut {

    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }

}