html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif; }

.fh-tint {
  margin-top: 30vh;
  position: relative;
  float: right;
  cursor: pointer;
  margin-right: 50px; }
  .fh-tint.fh-orange:before {
    background: rgba(214, 122, 45, 0.5); }
  .fh-tint.fh-blue:before {
    background: rgba(120, 147, 100, 0.5); }
  .fh-tint.fh-red:before {
    background: rgba(175, 36, 24, 0.5); }
  .fh-tint:before {
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -moz-transition: background .3s linear;
    -webkit-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear; }
  .fh-tint:hover:before {
    background: none; }
  .fh-tint .fh-profile-image {
    border-radius: 50%;
    height: 300px;
    width: 300px; }

.fh-description {
  margin-top: 30vh;
  color: #2f2f2f;
  margin-left: 50px;
  height: 300px; }
  .fh-description .fh-name {
    font-size: 4em; }
  .fh-description .fh-skill {
    font-family: 'Special Elite', cursive;
    font-size: 2.5em; }
    .fh-description .fh-skill.fh-orange {
      color: #d67a2d; }
    .fh-description .fh-skill.fh-blue {
      color: #789364; }
    .fh-description .fh-skill.fh-red {
      color: #af2418; }
